<div class="col-md-12">
  <h1>{{sheet.title}}</h1>
</div>
<div class="text-editor-wrapper">
    <h1 style="color:#fff;">.</h1>
    {{text-editor value=sheet.content sheet=sheet updateSheet=attrs.updateSheet}}
</div>
