h2#title {
  color: #fff;
}

#unauthorized{
  height: 1000px;
  color: #fff;
}

.mce-stack-layout {
  height: 750px;
}

.btn {
  color: #101010;
}

.text-editor > * {
  height: 600px;
}

.red {
  color: #dc544a
}
