{{#if model.errors.length}}
   <div class='alert alert-danger'>
     <p>Could create notebook due to the following:</p>
     <ul>
       {{#each model.errors as |error|}}
         <li>{{error.message}}</li>
       {{/each}}
     </ul>
   </div>
 {{/if}}

<form class="form-horizontal">
  <div class="p-a-2">
     <label for="title">Title</label>
    {{input value=model.title id="title"}}
  </div>
  <div class="p-a-2">
    <label for="description">Description</label>
    {{input value=model.description id="description"}}
  </div>
  <div class="p-a-2">
    <button id="submit" {{action 'save'}} class="btn btn-primary">Save</button>
  </div>
</form>
