<ul>
  <li>Notebook description: {{model.description}}</li>
  {{outlet}}

</ul>

<div>

  {{show-notebook saveChanges=(action "update") notebook=model}}

  <p><button {{action 'delete'}} id="delete">Delete</button></p>

 </div>
