<body class="stellar">

  <div class="container">
    <header class="navbar">
      <div class="">
        {{#if session.isAuthenticated}}
        <a {{action 'logout'}}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
        {{#link-to 'users.new'}}Sign Up{{/link-to}}
      {{/if}}
      </div>
    </header>
    <h2 id="title">MARGIN</h2>
    <div class="mainmenu-block">
      {{#link-to 'notebooks'}}Show Notebooks{{/link-to}}
      <ul>
        {{outlet}}
      </ul>
    </div>
    <div class="main-wrapper">
      <div class="view-wrapper">
        <div class="col-md-12">
          <h1>[title of note sheet will go here]</h1>
        </div>
        <div class="text-editor-wrapper">
            <h1 style="color:#fff;">.</h1>
            {{text-editor value=myBoundValue}}
        </div>

      </div>
    </div>


  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
