{{#my-modal}}
    {{#if errorMessage}}
    <div class='alert alert-danger'>
      <h5>Invalid email or password.</h5>
    </div>
    {{/if}}

<form {{action 'authenticate' on='submit'}}>
  <label for="email">Email</label>
  {{input id='email' placeholder='Enter Email' value=email}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
</form>
{{/my-modal}}
