<div class="p-a-2">
  <h3>{{link-to "New Notebook" "notebooks.new"}}</h3>
</div>
<ul class="nav">
  {{#each model as |notebook|}}
  <li class="nav-item">
    {{#link-to "notebooks.notebook" notebook.id class="nav-link"}}
      <i class="icon ion-ios-book"></i>
    <div class="menu-block-label" {{action "goToSheets" notebook}}>{{notebook.title}}</div>
    {{/link-to}}
  </li>
  {{/each}}
</ul>
{{outlet}}
